body {
  background: rgb(255, 255, 255);
  font-family: Montserrat, "sans-serif";
  display: flex;
  justify-content: center;
  color: #000000;
  }
  
  .contactez-nous {
  width: 700px;
  border: 1px solid;
  border-radius: 8px;
  padding: 0 50px 0 50px;
  }
  
  .contactez-nous > h1 {
  font-weight: 500;
  }
  
  .contactez-nous > p {
  font-weight: 300;
  }
  
  form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 83px;
  margin-top: 25px;
  }
  
  form div > label {
  margin-bottom: 7px;
  font-weight: 600;
  }
  
  form div > input, form div > select, form div > textarea {
  background: rgb(128, 128, 128);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, "sans-serif";
  color: rgb(0, 0, 0);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.548);
  }
  
  form div > input, form div > select {
  height: 50px;
  padding-left: 10px;
  }
  
  form div > select {
  appearance: none;
  background-size: 15px;
  background-image: url("/image/backgroud3.jpg");
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  color: white;
  }
  
  form div > textarea {
  height: 195px;
  padding: 15px 0px 0px 10px;
  }
  
  form div > input::placeholder, form div > textarea::placeholder {
  color: rgb(255, 255, 255);
  }
  
  form div > select:invalid {
  color: rgb(0, 0, 0);
  }
  
  form div > select option {
  background: rgb(0, 0, 0);
  color: #ffffff;
  }
  
  form div:last-child {
  align-items:center;
  margin-top: 20px;
  }
  
  form button {
  width: 450px;
  max-width: 500px;
  height: 60px;
  font-weight: 700;
  font-size: 28px;
  background: rgb(128, 128, 128);
  border: rgba(48, 48, 48, 0.5) solid 1px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  color: #ffffff;
  }
